<div id="products" class="row list-group">
  <% for showProduct in @Products do %>

    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="images/<%= showProduct.img%>" alt="" style = "height: 200px; width: 300px;"/>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <a href="products/<%= showProduct.id %>"><%=h showProduct.name %></a></h4>
          <p class="group inner list-group-item-text">
            <%=h showProduct.description %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
          <p class="lead">$
            <%=h showProduct.price %></p>
        </div>
        <div class="col-xs-12 col-md-6">
          <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
        </div>
      </div>
    </div>
    </div></div>
  <% end %>

 </div>






